  * {
            padding: 0;
            margin: 0;
        }

        body {
            background-color: #9c9a9b;
        }

        .head {
            width: 100%;
            height: 50px;
            background-color: #333333;

        }

        .head_img {
            display: inline;
            margin-left: 45px;
            margin-top: 5px;
        }

        .head ul {
            display:flex;
            float: right;
            margin-right: 24px;
            height: 50px;
            line-height: 50px;
            color: white;
            font-size: 14px;
        }
        
        .head li {
            float: right;
            margin-right: 24px;
            height: 50px;
            line-height: 50px;
            color: white;
            font-size: 14px;
        }
        .head li a {
            color: white;
        }
        

        .head .li_4 a {
            color: #9c9a9b;
        }
        .basic_1 {
            display: flex;
            margin-top: 20px;
            margin-left: 50px;
            justify-content: space-between ;

        }
        .basic_2 {
            display: flex;
            margin-top: 60px;
            margin-left: 50px;
        }
        .basic_3 {
            display: flex;
            margin-top: 60px;
            margin-left: 50px;
        }
        .basic_4 {
            display: flex;
            margin-top: 70px;
            margin-left: 50px;    
        }
        .page_1 {
            float: left;
            width: 70%;
            padding: 1.3%;
            background-color: white;
        }
        .page_2 {
            float: left;
            width: 70%;
            padding: 1.3%;
            background-color: white;
        }
        .page_3 {
            float: left;
            width: 70%;
            padding: 1.3%;
            padding-top:30px;
            background-color: white;
        }
        .page_4 {
            float: left;
            width: 70%;
            padding: 1.3%;
            background-color: white;
        }



        h3 {
            margin-top: 10px;
            color: #4b4b49;
        }

        h5 {
            margin-top: 10px;
            color: #878787;
        }

        p {
            text-indent: 2em;
            font-size: 14px;
            color: #000104;
            margin-top: 10px;
            font-weight: 100;
            font-family: '宋体';
            line-height: 20px;
        }

        .passage_img {
            margin-top:20px;
            width: 250px;
        }

        a {
            font-weight: 700;
            text-decoration: none;
        }

        .side {
            float: right;
            margin-right: 2%;
            width: 21%;
            background-color: white;
            padding: 20px;
        }

        .side_h3 {
            height: 30px;
            border-left: 2px solid #9c9a9b;
            text-indent: 10px;
            width: 100%;
            height: 6%;
        }

        .side_w {
            display: inline;
            font-size: 14px;
            width: 100%;
            height: 5%;
        }
        .side_w1 {
            display: inline;
            font-size: 14px;
            width: 100%;
            height: 5%;

        }

        .sw {
            margin-top: 1%;
            width: 100%;
            height: 5%;
        }

        .sd {
            margin-left: 30px;
            width: 100%;
            height: 5%;
        }

        .text {
            margin-top: 1%;
            margin-bottom: 1%;
            color: #a2a2a2;
            font-size: 10px;
            text-indent: 11em;
            width: 100%;
            height: 5%;
        }

        .side_foot {
            margin-top: 30px;
            width: 100%;
        }

        .choose {

            display: inline;
            font-size: 14px;
            margin-left: 70px;
            margin-right: 7px;
            width: 100%;
            margin-bottom: 1%;
        }

        .sex {
            margin-left: 7px;
            width: 4%;
            margin-bottom: 1%;
        }

        .city {
            margin-top: 7px;
            width: 100%;
            height: 15%;
            margin-bottom: 1%;
        }

        .person {
            display: inline;
            margin-top: 7px;
            margin-left: 40px;
            width: 100%;
            height: 5%;
            margin-bottom: 1%;
        }

        textarea {
            vertical-align: top;
            margin-top: 7px;
            width: 60%;
            margin-bottom: 1%;
        }
        input {
            width: 50%;
        }

        .submit {
            margin-top: 18px;
            margin-left: 4px;
            width: 300px;
            height: 30px;
            background-color: #3355d1;
            border-radius: 7px;
            width: 100%;
            margin-bottom: 1%;
        }
        .page_2 ul {
            margin-top:5%;
            margin-left:1%;
        }
        .page_2 ul li {
            margin-top:0.5%;
            font-weight: 400;
            color:green;
        }
        .page_3 h1 {
            margin-top: 1%;
            width: 1000px;
        }
        .page_3 .photo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
        .page_3 img {
            margin:0.5%;
            height: 100px;
            width: 20%;
        }
        .page_4 ol {
            margin-left:2%;
            margin-top:0.5%;
        }
        .page_4 li {
            margin-top:1%;
        }
        .tr_4 {
            background-color: #9c9a9b;
        }
        .footer {
            margin-top: 0.2%;
            height: 60px;
            color:white;
            line-height: 60px;
            font-size: 16px;
            text-align: center;
            background-color: #000000;
        }
        
        
